{% extends 'default_page.html.twig' %}

{% block title %}{{ 'print_request.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'print_request.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    {% for team in teams %}
        <h2 class="display-6 mt-4 mb-4">
            {{ 'print_request.index.team_section.title'|trans({'%username%': team.creator.username}) }}
            <a href="{{ path('print_request_new', {id: team.id}) }}" class="ml-5 btn btn-success"><span class="fa fa-plus"></span> {{ 'print_request.index.action.add_print_request'|trans({'%username%': team.creator.username}) }}</a>
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'print_request.index.column.name'|trans }}</th>
                    <th>{{ 'common.quantity'|trans }}</th>
                    <th>{{ 'print_request.index.column.status'|trans }}</th>
                    <th>{{ 'print_request.index.column.cost'|trans }}</th>
                    <th class="text-right">{{ 'common.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
            {% for print_request in print_requests_by_team[team.id]|default({}) %}
                <tr>
                    <td>{{ print_request.name }}</td>
                    <td>{{ print_request.quantity }}</td>
                    <td>
                        <span class="badge badge-{{ print_request.isPrinted ? 'success' : 'primary' }}">
                            {{ ('print_request.index.status.' ~ (print_request.isPrinted ? 'printed' : 'pending'))|trans }}
                        </span>
                    </td>
                    <td>
                        {% set cost = print_request.getTotalCost() %}
                        {% if cost %}
                            {{ cost|number_format(2) }} €
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td class="text-right">
                        {% if app.user and app.user.id == print_request.user.id %}
                            <a href="{{ path('print_request_edit', {'id': print_request.id}) }}" class="btn btn-info"><span class="fa fa-edit"></span> {{ 'common.action.edit'|trans }}</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'print_request.index.no_data'|trans }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if not loop.last %}
            <hr class="mt-4" />
        {% endif %}
    {% endfor %}

    <div class="row mt-5">
        <div class="col-md-12 text-center">
            <a href="{{ path('dashboard_index') }}">{{ 'common.action.back_to_dashboard'|trans }}</a>
        </div>
    </div>
{% endblock %}
