{% extends 'default_page.html.twig' %}

{% block title %}Liste de mes demandes{% endblock %}
{% block page_title %}Liste de mes demandes{% endblock %}

{% block page_body %}
    {% for team in teams %}
        <h2 class="display-6 mt-4 mb-4">
            Impressions par {{ team.creator }}
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Quantité</th>
                    <th>Statut</th>
                    <th>Coût matière</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for print_request in print_requests_by_team[team.id]|default({}) %}
                <tr>
                    <td>{{ print_request.name }}</td>
                    <td>{{ print_request.quantity }}</td>
                    <td>
                        <span class="badge badge-{{ print_request.isPrinted ? 'success' : 'primary' }}">
                            {{ print_request.isPrinted ? 'Imprimé' : 'En attente' }}
                        </span>
                    </td>
                    <td>
                        {% set cost = print_request.getTotalCost() %}
                        {% if cost %}
                            {{ cost|number_format(2) }} €
                        {% else %}
                            -
                        {% endif %}
                    </td>
                    <td>
                        {% if app.user and app.user.id == print_request.user.id %}
                            <a href="{{ path('print_request_edit', {'id': print_request.id}) }}" class="btn btn-primary">Modifier</a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Votre liste est vide.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('print_request_new', {id: team.id}) }}" class="btn btn-success">Ajouter un élément à imprimer dans la liste de {{ team.creator }}</a>

        {% if not loop.last %}
            <hr class="mt-4" />
        {% endif %}
    {% endfor %}

    <a href="{{ path('dashboard_index') }}">Retourner au dashboard</a>
{% endblock %}
