{% extends 'default_page.html.twig' %}

{% block title %}{{ 'print_request.show.meta_title'|trans({'name': print_request.name, 'username': print_request.user.username}) }}{% endblock %}
{% block page_title %}{{ 'print_request.show.page_title'|trans({'name': print_request.name, 'username': print_request.user.username}) }}{% endblock %}

{% block page_body %}
    <ul>
        <li>User : {{ print_request.user.username }}</li>
        <li>Name : {{ print_request.name }}</li>
        <li>Url : <a href="{{ print_request.link }}">{{ print_request.link }}</a></li>
        <li>
            Comment :
            <p>{{ print_request.comment|nl2br|default('-') }}</p>
        </li>
        <li>Quantity : {{ print_request.quantity }}</li>
        <li>
            Cost :
            {% set cost = print_request.getTotalCost() %}
            {% if cost %}
                {{ cost|number_format(2) }} €
            {% else %}
                -
            {% endif %}
        </li>
        <li>
            <span class="badge badge-{{ print_request.isPrinted ? 'success' : 'primary' }}">
                {{ print_request.isPrinted ? 'Imprimé' : 'En attente' }}
            </span>
        </li>
        <li>
            Prints :
            {% if print_request.printObjects %}
                <ul>
                    {% for print_object in print_request.printObjects %}
                        <li><a href="{{ path('print_object_edit', {id: print_object.id}) }}">Edit print "{{ print_object.name ?: print_object.id }}"</a></li>
                    {% endfor %}
                </ul>
            {% else %}
                -
            {% endif %}
        </li>
    </ul>

    {% embed 'common/form_actions.html.twig' with {back_to_action_link: path('team_print_requests')} %}
        {% block success_form %}
        {% endblock %}
    {% endembed %}
{% endblock %}
