{% set hasHeader =  app.request.attributes.get('_route') == 'home_index' %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'meta.default_title'|trans }}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <meta property="og:title" content="{{ block('title')|e('html_attr') }}" />
        <meta property="og:description" content="{{ block('metaDescription')|e('html_attr') }}" />
        <meta property="og:type" content="website" />
        <meta property="og:image" content="/images/header.jpg" />
        <link rel="canonical" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) }}" />
        <link rel="alternate" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'en'})) }}" hreflang="en" />
        <link rel="alternate" href="{{ url(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'fr'})) }}" hreflang="fr" />
        {% block stylesheets %}
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {#} encore_entry_link_tags('app') }#}

            <!-- Latest compiled and minified CSS -->
            <link href="{{ asset('css/fonts.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/fontawesome.min.css') }}" rel="stylesheet" type="text/css">
            <link href="{{ asset('css/app.css') }}" rel="stylesheet" type="text/css">
        {% endblock %}
    </head>
    <body class="{{ hasHeader ? 'has-header' }}">
        <nav id="navbar-main" class="navbar navbar-expand-lg navbar-dark {{ not hasHeader ? 'navbar-shrink' }} fixed-top mb-5">
            <div class="container">
                <a class="navbar-brand" href="{{ is_granted('ROLE_USER') ? path('dashboard_index') : path('home_index') }}">
                    <span>{{ 'nav.brand_name'|trans }}</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="{{ 'nav.toggle'|trans }}">
                    {{ 'nav.menu'|trans }}
                    <i class="ml-1 fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse mb-3 mb-lg-0" id="navbar-header">
                    <ul class="navbar-nav ml-auto text-center align-items-center">
                        {% if is_granted('ROLE_PRINTER') %}
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'filament_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('filament_index') }}">{{ 'nav.filament'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'print_object_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('print_object_index') }}">{{ 'nav.print_object'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'team_print_requests' ? 'active' }}">
                                <a class="nav-link" href="{{ path('team_print_requests') }}">{{ 'nav.team_print_request'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'team_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('team_index') }}">{{ 'nav.team'|trans }}</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_TEAM_MEMBER') %}
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'print_request_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('print_request_index') }}">{{ 'nav.print_request'|trans }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="locale-switch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.request.locale == 'en' ? '🇬🇧' }}
                                {{ app.request.locale == 'fr' ? '🇫🇷' }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="locale-switch">
                                {% for locale,label in locale_labels %}
                                    <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: locale, change_locale: '1'})) }}">{{ label }}</a>
                                {% endfor %}
                            </div>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('dashboard_index') }}">{{ 'nav.dashboard'|trans }}</a>
                                    <a class="dropdown-item" href="{{ path('account_index') }}">{{ 'nav.account'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('home_index') }}">{{ 'nav.back_to_home'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('security_logout') }}">{{ 'nav.logout'|trans }}</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{{ path('registration_register') }}">{{ 'nav.register'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        <div style="{{ not hasHeader ? 'margin-top: 8rem' }}">
            {% if app.session is not null and app.session.started %}
                {% set _flash_messages = app.session.flashbag.all %}

                {% if _flash_messages|length > 0 %}
                    <div id="flash-messages" class="container">
                        {% for label, messages in _flash_messages %}
                            {% for message in messages %}
                                <div class="alert alert-{{ label }} alert-dismissible fade show">
                                    {{ message|trans|striptags }}

                                    <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'common.close'|trans }}">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            {% endif %}

            {% block body %}{% endblock %}
        </div>

        <footer class="footer mt-5 py-3">
            <div class="container text-center">
                <div class="row center align-items-center">
                    <div class="col-md-4">
                        <span class="copyright">Copyright &copy; 3D Follow {{ date()|date('Y') }}</span>
                    </div>
                    <div class="col-md-4">
                        {{ 'footer.built_with_love'|trans|raw }}
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li class="list-inline-item">
                                <a href="{{ path('home_terms') }}">{{ 'footer.terms'|trans }}</a>
                            </li>
                            <li class="list-inline-item">
                                <a href="{{ path('home_privacy') }}">{{ 'footer.privacy'|trans }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        {% block javascripts %}
            {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
            {#{ encore_entry_script_tags('app') }#}

            <script src="{{ asset('js/jquery.min.js') }}"></script>
            <script src="{{ asset('js/popper.min.js') }}"></script>
            <script src="{{ asset('js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('js/app.js') }}"></script>
        {% endblock %}

        {% block dialogs %}
            {{ include('changelog/_dialog_new.html.twig') }}
        {% endblock %}
    </body>
</html>
