<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}{{ 'meta.default_title'|trans }}{% endblock %}</title>
        <link rel="icon" type="image/png" href="{{ asset('favicon.png') }}" />
        <meta name="description" content="{% block metaDescription %}{% endblock %}" />
        <meta property="og:title" content="{{ block('title')|e('html_attr') }}" />
        <meta property="og:description" content="{{ block('metaDescription')|e('html_attr') }}" />
        <meta property="og:type" content="website" />
        {% block stylesheets %}
            <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <link href="/css/app.css" rel="stylesheet">
            <link href="/css/fontawesome.min.css" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
            <div class="container">
                <a class="navbar-brand" href="{{ is_granted('ROLE_USER') ? path('dashboard_index') : path('home_index') }}">
                    <img src="{{ asset('favicon.png') }}" alt="" width="50" />
                    <span>{{ 'nav.brand_name'|trans }}</span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="{{ 'nav.toggle'|trans }}">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-header">
                    <ul class="navbar-nav ml-auto text-center">
                        {% if is_granted('ROLE_PRINTER') %}
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'filament_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('filament_index') }}">{{ 'nav.filament'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'print_object_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('print_object_index') }}">{{ 'nav.print_object'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'team_print_requests' ? 'active' }}">
                                <a class="nav-link" href="{{ path('team_print_requests') }}">{{ 'nav.team_print_request'|trans }}</a>
                            </li>
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'team_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('team_index') }}">{{ 'nav.team'|trans }}</a>
                            </li>
                        {% endif %}
                        {% if is_granted('ROLE_TEAM_MEMBER') %}
                            <li class="nav-item {{ app.request.attributes.get('_route') == 'print_request_index' ? 'active' }}">
                                <a class="nav-link" href="{{ path('print_request_index') }}">{{ 'nav.print_request'|trans }}</a>
                            </li>
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="locale-switch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ app.request.locale == 'en' ? '🇬🇧' }}
                                {{ app.request.locale == 'fr' ? '🇫🇷' }}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="locale-switch">
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'en'})) }}">🇬🇧 English</a>
                                <a class="dropdown-item" href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({_locale: 'fr'})) }}">🇫🇷 French</a>
                            </div>
                        </li>
                        {% if app.user %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ app.user.username }}
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('dashboard_index') }}">{{ 'nav.dashboard'|trans }}</a>
                                    <a class="dropdown-item" href="{{ path('account_index') }}">{{ 'nav.account'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('home_index') }}">{{ 'nav.back_to_home'|trans }}</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('security_logout') }}">{{ 'nav.logout'|trans }}</a>
                                </div>
                            </li>
                        {% else %}
                            <li class="nav-item mr-lg-3">
                                <a class="nav-link" href="{{ path('security_login') }}">{{ 'nav.login'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-primary" href="{{ path('registration_register') }}">{{ 'nav.register'|trans }}</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>

        {% if app.session is not null and app.session.started %}
            {% set _flash_messages = app.session.flashbag.all %}

            {% if _flash_messages|length > 0 %}
                <div id="flash-messages" class="container">
                    {% for label, messages in _flash_messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible fade show">
                                {{ message|trans|striptags }}

                                <button type="button" class="close" data-dismiss="alert" aria-label="{{ 'common.close'|trans }}">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endif %}
        {% endif %}

        {% block body %}{% endblock %}

        <footer class="footer mt-5 py-3">
            <div class="container">
                <p class="m-0 text-center text-black-50">Copyright &copy; 3D Follow {{ date()|date('Y') }}</p>
            </div>
        </footer>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        {% endblock %}
    </body>
</html>
