{{ form_start(form, {attr: {class: 'mt-5 mb-3'}}) }}

    {{ form_errors(form) }}

    {{ form_row(form.name) }}
    {{ form_row(form.filament) }}
    {{ form_row(form.printRequest) }}
    {{ form_row(form.quantity) }}

    <div class="row mt-5 mb-5">
        <div class="col-md-6">
            <div class="p-3 border rounded h-100">
                <p class="text-center font-weight-bold">Upload the corresponding .gcode</p>
                {{ form_row(form.gCodeFile) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 border rounded h-100">
                <p class="text-center font-weight-bold">Or manually fill your print's characteristics</p>
                {{ form_row(form.length) }}
                {{ form_row(form.cost) }}
            </div>
        </div>
    </div>

    <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
{{ form_end(form) }}
