{% extends 'default_page.html.twig' %}

{% block title %}{{ 'print_object.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'print_object.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'print_object.index.column.name'|trans }}</th>
                <th>{{ 'print_object.index.column.filament'|trans }}</th>
                <th>{{ 'common.quantity'|trans }}</th>
                <th>{{ 'print_object.index.column.weight'|trans }}</th>
                <th>{{ 'print_object.index.column.cost'|trans }}</th>
                <th class="text-right">{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for print_object in print_objects %}
            <tr>
                <td>{{ print_object.name }}</td>
                <td>{{ print_object.filament }}</td>
                <td>{{ print_object.quantity }}</td>
                <td>{{ (print_object.weight)|number_format(2) }} g</td>
                <td>
                    {% if print_object.cost %}
                        {{ print_object.cost|number_format(2) }} €
                    {% else %}
                        -
                    {% endif %}
                </td>
                <td class="text-right">
                    {% if app.user and app.user.id == print_object.user.id %}
                        <a href="{{ path('print_object_edit', {'id': print_object.id}) }}" class="btn btn-info"><span class="fa fa-edit"></span> {{ 'common.action.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'print_object.index.no_data'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% embed 'common/form_actions.html.twig' with {back_to_action_link: path('dashboard_index'), back_to_action_label: 'common.action.back_to_dashboard'|trans} %}
        {% block success_form %}
            <a class="btn btn-success" href="{{ path('print_object_new') }}"><span class="fa fa-plus"></span> {{ 'print_object.index.action.add_print_object'|trans }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
