{% extends 'default_page.html.twig' %}

{% block title %}{{ 'print_object.new.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'print_object.new.page_title'|trans }}{% endblock %}

{% block page_body %}
    {{ include('print_object/_form.html.twig') }}

    <a href="{{ path('print_object_index') }}">{{ 'common.action.back_to_list'|trans }}</a>
{% endblock %}
