{% if app.user.filaments|length > 0 and app.user.printObjects|length > 0 %}
    <div class="row">
        <div class="col-md-3 mt-4">
            <a href="{{ path('filament_index') }}" class="d-block text-decoration-none text-center rounded bg-primary text-black h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-tape"></i>
                </div>
                <span class="display-3">{{ app.user.filaments|length }}</span>
                <span>{{ 'dashboard.index.stats.filaments.label'|transchoice(app.user.filaments|length) }}</span>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="{{ path('print_object_index') }}" class="d-block text-decoration-none text-center rounded bg-primary text-black h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-print"></i>
                </div>
                <span class="display-3">{{ app.user.printObjects|length }}</span>
                <span>{{ 'dashboard.index.stats.print_objects.label'|transchoice(app.user.printObjects|length) }}</span>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="{{ path('team_index') }}" class="d-block text-decoration-none text-center rounded bg-primary text-black h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-users"></i>
                </div>
                <span class="display-3">{{ app.user.teamCreated.members|length }}</span>
                <span>{{ 'dashboard.index.stats.members.label'|transchoice(app.user.teamCreated.members|length) }}</span>
            </a>
        </div>
        <div class="col-md-3 mt-4">
            <a href="{{ path('team_print_requests') }}" class="d-block text-decoration-none text-center rounded bg-primary text-black h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-envelope"></i>
                </div>
                <span class="display-3">{{ team_print_requests|length }}</span>
                <span>{{ 'dashboard.index.stats.pending_print_requests.label'|transchoice(team_print_requests|length) }}</span>
            </a>
        </div>
    </div>
{% elseif app.user.filaments|length > 0 %}
    <div class="rounded border p-4 text-center">
        <h2 class="mb-3">{{ 'dashboard.index.help.no_print_object.title'|trans }}</h2>
        <p>{{ 'dashboard.index.help.no_print_object.content'|trans|raw }}</p>
        <a href="{{ path('print_object_new') }}" class="btn btn-success"><span class="fa fa-plus"></span> {{ 'dashboard.index.help.no_print_object.cta'|trans }}</a>
    </div>
{% else %}
    <div class="rounded border p-4 text-center">
        <h2 class="mb-3">{{ 'dashboard.index.help.no_filament.title'|trans }}</h2>
        <p>{{ 'dashboard.index.help.no_filament.content'|trans|raw }}</p>
        <a href="{{ path('filament_new') }}" class="btn btn-success"><span class="fa fa-plus"></span> {{ 'dashboard.index.help.no_filament.cta'|trans }}</a>
    </div>
{% endif %}

{% if team_print_requests|length > 0 %}
    <h2 class="mt-5">{{ 'dashboard.index.section.pending_print_requests.title'|trans }}</h2>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'common.user'|trans }}</th>
                <th>{{ 'dashboard.index.section.pending_print_requests.column.name'|trans }}</th>
                <th>{{ 'common.quantity'|trans }}</th>
                <th class="text-right">{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for print_request in team_print_requests %}
                <tr>
                    <td>{{ print_request.user }}</td>
                    <td>{{ print_request.name }}</td>
                    <td>{{ print_request.quantity }}</td>
                    <td class="text-right">
                        <a href="{{ path('print_request_show', {'id': print_request.id}) }}" class="btn btn-info"><span class="fa fa-eye"></span> {{ 'dashboard.index.section.pending_print_requests.action.show'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">{{ 'dashboard.index.section.pending_print_requests.no_data'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('team_print_requests') }}" class="btn btn-primary"><span class="fa fa-eye"></span> {{ 'dashboard.index.section.pending_print_requests.cta'|trans }}</a>
    </div>
{% endif %}
