{% if app.user.filaments|length > 0 and app.user.printObjects|length > 0 %}
    <div class="row">
        <div class="col-md-3">
            <a href="{{ path('filament_index') }}"class="d-block text-decoration-none text-center rounded bg-primary text-white h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-tape"></i>
                </div>
                <span class="display-3">{{ app.user.filaments|length }}</span>
                <span>Filament(s)</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('print_object_index') }}" class="d-block text-decoration-none text-center rounded bg-primary text-white h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-print"></i>
                </div>
                <span class="display-3">{{ app.user.printObjects|length }}</span>
                <span>Impression(s)</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('team_index') }}" class="d-block text-decoration-none text-center rounded bg-primary text-white h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-users"></i>
                </div>
                <span class="display-3">{{ app.user.teamCreated.members|length }}</span>
                <span>member(s)</span>
            </a>
        </div>
        <div class="col-md-3">
            <a href="{{ path('team_print_requests') }}" class="d-block text-decoration-none text-center rounded bg-primary text-white h-100 p-3">
                <div class="display-4">
                    <i class="fas fa-envelope"></i>
                </div>
                <span class="display-3">{{ team_print_requests|length }}</span>
                <span>pending request(s)</span>
            </a>
        </div>
    </div>
{% elseif app.user.filaments|length > 0 %}
    <div class="rounded border p-4 text-center">
        <h2 class="mb-3">
            Congratulations for adding your first filament!
        </h2>
        <p>
            What about registering your <strong>first print</strong> too?<br/>
            This will help you track <strong>how much filament it remains</strong> and also keep an history of all your prints.
        </p>
        <a href="{{ path('print_object_new') }}" class="btn btn-success">Register a print</a>
    </div>
{% else %}
    <div class="rounded border p-4 text-center">
        <h2 class="mb-3">New on 3D Follow?</h2>
        <p>
            Start by registering your first filament.
        </p>
        <a href="{{ path('filament_new') }}" class="btn btn-success">Add my first filament</a>
    </div>
{% endif %}

{% if team_print_requests|length > 0 %}
    <h2 class="mt-5">Les dernières demandes reçues</h2>

    <table class="table">
        <thead>
            <tr>
                <th>Utilisateur</th>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for print_request in team_print_requests %}
                <tr>
                    <td>{{ print_request.user }}</td>
                    <td>{{ print_request.name }}</td>
                    <td>{{ print_request.quantity }}</td>
                    <td>
                        <a href="{{ path('print_request_show', {'id': print_request.id}) }}" class="btn btn-primary">Voir plus en détail</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Votre liste en attente est vide.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="text-center">
        <a href="{{ path('team_print_requests') }}" class="btn btn-primary">Voir toutes les demandes reçues</a>
    </div>
{% endif %}
