{% extends 'default_page.html.twig' %}

{% block title %}{{ 'dashboard.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'dashboard.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    <p>{{ 'dashboard.index.welcome'|trans({'%username%': app.user.username}) }}</p>

    {% if is_granted('ROLE_PRINTER') %}
        {{ include('dashboard/_printer.html.twig') }}
    {% endif %}

    {% if is_granted('ROLE_TEAM_MEMBER') %}
        {{ include('dashboard/_team_member.html.twig') }}
    {% endif %}

    {% if not is_granted('ROLE_PRINTER') and not is_granted('ROLE_TEAM_MEMBER') %}
        <div class="rounded border p-4">
            <h2 class="mb-3">{{ 'dashboard.index.help.no_role.title'|trans }}</h2>
            <p>{{ 'dashboard.index.help.no_role.content'|trans|raw  }}</p>
            <div class="text-center">
                <a class="btn btn-outline-primary" href="{{ path('account_index') }}">{{ 'dashboard.index.help.no_role.cta'|trans }}</a>
            </div>
        </div>
    {% endif %}
{% endblock %}
