{% macro suggestion(form, suggestions) %}
    <div class="mb-4">
        <span>{{ 'filament.form.suggestion'|trans }}</span>
        {% for suggestion,value in suggestions %}
            <button type="button" class="btn btn-dark btn-sm" onclick="$('#{{ form.vars.id }}').val({{ value }})">{{ suggestion }}</button>
        {% endfor %}
    </div>
{% endmacro %}

{% import _self as helper %}

{{ form_start(form, {attr: {class: 'mt-5 mb-3'}}) }}
    {{ form_row(form.name) }}

    <div class="row mb-3">
        <div class="col-md-6 mt-4">
            <div class="p-3 border rounded h-100">
                <p class="text-center font-weight-bold">{{ 'filament.form.section.spool'|trans }}</p>
                {{ form_row(form.weight) }}
                {{ helper.suggestion(form.weight, {
                    '750g': 700,
                    '1kg': 1000,
                }) }}
                {{ form_row(form.weightUsed) }}
                {{ form_row(form.price) }}
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="p-3 border rounded h-100">
                <p class="text-center font-weight-bold">{{ 'filament.form.section.filament'|trans }}</p>
                {{ form_row(form.density) }}
                {{ helper.suggestion(form.density, {
                    'PLA': 1.24,
                    'ABS': 1.04,
                    'PETG': 1.27,
                }) }}
                {{ form_row(form.diameter) }}
                {{ helper.suggestion(form.diameter, {
                    '1.75 mm': 1.75,
                    '2.85 mm': 2.85,
                    '3 mm': 3,
                }) }}
            </div>
        </div>
    </div>

    <button class="btn btn-success">{{ button_label|default('common.action.save'|trans) }}</button>
{{ form_end(form) }}
