{% extends 'default_page.html.twig' %}

{% block title %}{{ 'filament.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'filament.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'filament.index.column.name'|trans }}</th>
                <th>{{ 'filament.index.column.weight'|trans }}</th>
                <th>{{ 'filament.index.column.usage'|trans }}</th>
                <th class="text-right">{{ 'common.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for filament in filaments %}
                {% set usagePercentage = filament.computeUsagePercentage %}
                {% set weightRemaining = ((100 - usagePercentage) * 0.01 * filament.weight) %}
                <tr>
                    <td>{{ filament.name }}</td>
                    <td>{{ filament.weight|number_format(0) }} g</td>
                    <td>
                        <div class="row">
                            <div class="col-md-6">
                                {% if usagePercentage == 0 %}
                                    {{ 'filament.index.full'|trans }}
                                {% else %}
                                    {{ 'filament.index.usage'|trans({'weightPercentage': usagePercentage|number_format(0), 'weightRemaining': weightRemaining|number_format(0)}) }}
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <div class="progress" title="{{ usagePercentage|number_format(0) }}%">
                                    <div class="progress-bar bg-{{ usagePercentage > 90 ? 'danger' : usagePercentage > 75 ? 'warning' : 'success' }}" role="progressbar" style="width: {{ usagePercentage }}%" aria-valuenow="{{ usagePercentage }}" aria-valuemin="0" aria-valuemax="100">{{ usagePercentage|number_format(0) }}%</div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="text-right">
                        <a href="{{ path('filament_edit', {'id': filament.id}) }}" class="btn btn-info"><span class="fa fa-edit"></span> {{ 'common.action.edit'|trans }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">{{ 'filament.index.no_data'|trans }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% embed 'common/form_actions.html.twig' with {back_to_action_link: path('dashboard_index'), back_to_action_label: 'common.action.back_to_dashboard'|trans} %}
        {% block success_form %}
            <a class="btn btn-success w-100" href="{{ path('filament_new') }}"><span class="fa fa-plus"></span> {{ 'filament.index.action.add_filament'|trans }}</a>
        {% endblock %}
    {% endembed %}
{% endblock %}
