{% extends 'default_page.html.twig' %}

{% block title %}{{ 'filament.new.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'filament.new.page_title'|trans }}{% endblock %}

{% block page_body %}
    {{ include('filament/_form.html.twig') }}

    <a href="{{ path('filament_index') }}">{{ 'common.action.back_to_list'|trans }}</a>
{% endblock %}
