{% extends 'base.html.twig' %}

{% block title %}{{ 'registration.register.meta_title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="mt-5 text-center">{{ 'registration.register.page_title'|trans }}</h1>
                <p class="mt-5 text-center">{{ 'registration.register.content'|trans|raw }}</p>
                <p class="mt-5 text-center text-muted">
                    {{ 'registration.register.already_has_account'|trans }}
                    <a href="{{ path('security_login') }}" class="btn btn-outline-primary">{{ 'registration.register.login'|trans }}</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="border rounded rounded-lg p-5">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.isPrinter) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn btn-primary">{{ 'registration.register.form.submit'|trans }}</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
