{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12">
                <h1 class="mt-5 text-center">
                    Créer mon compte
                </h1>
                <p class="mt-5 text-center">
                    Vous <strong>possèdez une imprimante 3D</strong> et souhaitez <strong>profiter de toutes les fonctionnalités</strong> de 3D Follow ?<br />
                    Vous souhaitez <strong>rejoindre le groupe</strong> d'une personne possédant une imprimante ?<br />
                    Créer votre compte, c'est <strong>gratuit</strong> et ça prend <strong>moins d'une minute</strong>.
                </p>
                <p class="mt-5 text-center text-muted">
                    J'ai déjà un compte. <a href="{{ path('security_login') }}" class="btn btn-outline-primary">Me connecter</a>
                </p>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="border rounded rounded-lg p-5">
                    {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.username) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.isPrinter) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button class="btn btn-primary">Register</button>
                    {{ form_end(registrationForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
