{% extends 'default_page.html.twig' %}

{% block title %}Modifier mon compte{% endblock %}
{% block page_title %}Modifier mon compte{% endblock %}

{% block page_body %}
    {{ form_start(form, {attr: {class: 'mt-5 mb-3'}}) }}
        <div class="row">
            <div class="col-md-6">
                <div class="p-3 border rounded h-100">
                    <p class="text-center font-weight-bold">Mon profil</p>
                    {{ form_row(form.username) }}
                    {{ form_row(form.isPrinter) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-3 border rounded h-100">
                    <p class="text-center font-weight-bold">Changement mot de passe</p>
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-success">{{ button_label|default('Sauvegarder') }}</button>
            <a href="{{ path('dashboard_index') }}">Retourner au dashboard</a>
        </div>

    {{ form_end(form) }}
{% endblock %}
