{% extends 'default_page.html.twig' %}

{% block title %}{{ 'account.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'account.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    {{ form_start(form, {attr: {class: 'mt-5 mb-3'}}) }}
        <div class="row">
            <div class="col-md-6 mt-4">
                <div class="p-3 border rounded h-100">
                    <p class="text-center font-weight-bold">{{ 'account.index.section.profile'|trans }}</p>
                    {{ form_row(form.username) }}
                    {{ form_row(form.isPrinter) }}
                    {{ form_row(form.defaultLocale) }}
                </div>
            </div>
            <div class="col-md-6 mt-4">
                <div class="p-3 border rounded h-100">
                    <p class="text-center font-weight-bold">{{ 'account.index.section.password'|trans }}</p>
                    {{ form_row(form.oldPassword) }}
                    {{ form_row(form.newPassword) }}
                </div>
            </div>
        </div>

        <div class="mt-4">
            <button class="btn btn-success">{{ button_label|default('common.action.save'|trans) }}</button>
            <a href="{{ path('dashboard_index') }}">{{ 'common.action.back_to_dashboard'|trans }}</a>
        </div>

    {{ form_end(form) }}
{% endblock %}
