{% extends 'default_page.html.twig' %}

{% block title %}{{ 'team.index.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'team.index.page_title'|trans }}{% endblock %}

{% block page_body %}
    <div class="rounded border p-4 text-center">
        <form method="post" action="{{ path('team_generate_join_token') }}">
            {% if not team.joinToken %}
                <h2 class="mb-3">{{ 'team.index.help.no_join_token.title'|trans }}</h2>
                <p>{{ 'team.index.help.no_join_token.content'|trans|raw }}</p>
                <button type="submit" class="btn btn-success"><span class="fa fa-plus"></span> {{ 'team.index.help.no_join_token.cta'|trans }}</button>
            {% else %}
                <h2 class="mb-3">{{ 'team.index.help.has_join_token.title'|trans }}</h2>
                <p>{{ 'team.index.help.has_join_token.content'|trans|raw }}</p>

                <div class="mb-3">
                    <input class="w-100" readonly value="{{ url('team_join', {token: team.joinToken}) }}" />
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-sm btn-outline-danger"><span class="fa fa-redo"></span> {{ 'team.index.help.has_join_token.cta'|trans }}</button>
                </div>
            {% endif %}
            <input type="hidden" name="token" value="{{ csrf_token('team_generate_join_token') }}" />
        </form>
    </div>

    {% if team.joinToken  %}
        <h2 class="mt-5 mb-2">{{ 'team.index.subtitle'|trans }}</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'common.user'|trans }}</th>
                    <th>{{ 'team.index.column.request_count'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team.members %}
                    <tr>
                        <td>{{ member.username }}</td>
                        <td>{{ member.printRequests|length }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">{{ 'team.index.no_data'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% embed 'common/form_actions.html.twig' with {back_to_action_link: path('dashboard_index'), back_to_action_label: 'common.action.back_to_dashboard'|trans} %}
        {% block success_form %}
            {% if team.joinToken  %}
                <a class="btn btn-primary w-100" href="{{ path('team_print_requests') }}"><span class="fa fa-eye"></span> {{ 'team.index.action.see_all_requests'|trans }}</a>
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}
