{% extends 'default_page.html.twig' %}

{% block title %}Mon groupe{% endblock %}
{% block page_title %}Mon groupe{% endblock %}

{% block page_body %}
    <div class="rounded border p-4 text-center">
        <h2 class="mb-3">{{ team.members|length < 1 and not team.joinToken ? 'Feeling alone?' : 'Lien d\'invitation' }}</h2>

        <form method="post" action="{{ path('team_generate_join_token') }}">
            {% if team.joinToken %}
                <p>Partager ce lien avec d'autres personnes pour les inviter à rejoindre votre groupe.</p>

                <div class="mb-3">
                    <input class="w-100" readonly value="{{ url('team_join', {token: team.joinToken}) }}" />
                </div>

                <div class="text-right">
                    <button type="submit" class="btn btn-sm btn-outline-danger">Regénérer mon lien d'invitation</button>
                </div>
            {% else %}
                <p>
                    Invite your family, friends or customer to join your team.<br />
                    That will allow them to send you their print wishes right onto the application.<br />
                </p>

                <button type="submit" class="btn btn-success">Créer mon lien d'invitation</button>
            {% endif %}

            <input type="hidden" name="token" value="{{ csrf_token('team_generate_join_token') }}" />
        </form>
    </div>

    {% if team.joinToken  %}
        <h2 class="mt-5 mb-2">Les membres de mon groupe</h2>

        <table class="table">
            <thead>
                <tr>
                    <th>Utilisateur</th>
                    <th>Nombre de demandes</th>
                </tr>
            </thead>
            <tbody>
                {% for member in team.members %}
                    <tr>
                        <td>{{ member.username }}</td>
                        <td>{{ member.printRequests|length }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">Aucun membre dans votre groupe</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <a href="{{ path('dashboard_index') }}">Retourner au dashboard</a>
{% endblock %}
