{% extends 'default_page.html.twig' %}

{% block title %}{{ 'team.join.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'team.join.page_title'|trans({'username': team.creator.username})|raw }}{% endblock %}

{% block page_body %}
    <div class="row">
        <div class="col-md-6">
            <div class="rounded border p-4 text-center h-100">
                <p>{{ 'team.join.section.login.content'|trans|raw }}</p>
                <a href="{{ path('security_login') }}" class="btn btn-outline-primary">{{ 'team.join.section.login.cta'|trans }}</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="rounded border p-4 text-center h-100">
                <p>{{ 'team.join.section.register.content'|trans|raw }}</p>
                <a href="{{ path('registration_register') }}" class="btn btn-primary">{{ 'team.join.section.register.cta'|trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}
