{% extends 'default_page.html.twig' %}

{% block title %}{{ 'team.print_requests.meta_title'|trans }}{% endblock %}
{% block page_title %}{{ 'team.print_requests.page_title'|trans }}{% endblock %}

{% block page_body %}
    {% if app.user.teamCreated.members|length < 1 %}
        <div class="rounded border p-4 text-center">
            <h2 class="mb-3">{{ 'team.print_requests.help.no_members.title'|trans }}</h2>
            <p>{{ 'team.print_requests.help.no_members.content'|trans|raw }}</p>
            <a href="{{ path('team_index') }}" class="btn btn-success">{{ 'team.print_requests.help.no_members.cta'|trans }}</a>
        </div>
    {% else %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'team.print_requests.column.name'|trans }}</th>
                    <th>{{ 'common.user'|trans }}</th>
                    <th>{{ 'common.quantity'|trans }}</th>
                    <th>{{ 'team.print_requests.column.status'|trans }}</th>
                    <th>{{ 'team.print_requests.column.cost'|trans }}</th>
                    <th>{{ 'common.actions'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for print_request in print_requests %}
                    <tr>
                        <td>{{ print_request.name }}</td>
                        <td>{{ print_request.user.username }}</td>
                        <td>{{ print_request.quantity }}</td>
                        <td>
                        <span class="badge badge-{{ print_request.isPrinted ? 'success' : 'primary' }}">
                            {{ ('team.print_requests.status.' ~ (print_request.isPrinted ? 'printed' : 'pending'))|trans }}
                        </span>
                        </td>
                        <td>
                            {% set cost = print_request.getTotalCost() %}
                            {% if cost %}
                                {{ cost|number_format(2) }} €
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('print_request_show', {'id': print_request.id}) }}" class="btn btn-primary">{{ 'common.action.show'|trans }}</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">{{ 'team.print_requests.no_data'|trans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock %}
